:global {
  .lg-only.login.modal {
    color: #a0a0a0;
    .desktop.form {
    }

    .helper {
      font-size: .14rem;
    }

    button {
      font-size: .2rem;
    }

    .actions {
      margin-top: .2rem;
      font-size: .2rem;
      input {
        width: .2rem;
        height: .2rem;
      }

      .right {
        float: right;
      }

      a {
        cursor: pointer;
      }
    }

    .content:last-of-type {
      padding-left: .4rem;
      padding-top: .88rem;
      .title {
        text-align: center;
        font-size: .2rem;
        position: relative;

        &:before {
          content: ' ';
          width: .9rem;
          height: .14rem;
          left: .08rem;
          top: 0;
          position: absolute;
          border-bottom: solid .01rem #e4e4e4;
        }
        &:after {
          content: ' ';
          width: .9rem;
          height: .14rem;
          right: .1rem;
          top: 0;
          position: absolute;
          border-bottom: solid .01rem #e4e4e4;
        }
      }

      .third-login {
        margin-top: .65rem;
      }

      .helper {
        margin-top: .58rem;
        text-align: center;
        span {
          color: #fe393d;
        }
      }
    }

    .input.wrapper {
      .varify-code,
      img {
        width: 1.24rem;
        height: .4rem;
        margin-left: .14rem;
      }

      .varify-code {
        button {
          width: 100%;
          font-size: .18rem;
          height: 100%;
        }
      }
    }
  }
}