log
logs
*.log
pid
pids
*.pid
*.seed
tmp
.tmp
temp
.temp
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.irp
*.iws
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.directory
.Trash-*
*~
~*
lib-cov
coverage
.grunt
.lock-wscript
*.lock
.idea
.idea_modules
node_modules
npm-debug.log*
out
build/out
build/release
build/tmp
assets/build
