@import "theme/default/base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @font-family;
  cursor: default;
}

// 设置所有链接类型鼠标样式为pointer
a, button, *[href] {
  cursor: pointer;
}

// 默认背景演示
body {
  background-color: @background-color-base;
}

// 默认按钮样式
button {
  border: none;
  background: @primary-color;
  outline: none;
  border-radius: 1.5px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 8px;
  cursor: pointer;

  &.clearfix {
    border: none;
    background: none;
    color: inherit;
    box-shadow: none;
    padding: 0;
    line-height: 1;
  }

  &.fixed {
    background: #ffffff;
    color: #000000;
    border: solid 1px #ececec;
  }

  &.ghost {
    padding: 7px 15px;
    font-size: inherit;
    line-height: 1;
    width: auto;
    background: transparent;
    border: solid 1px #ffffff;
    border-radius: 14px;
  }

  &.page {
    background: #ffffff;
    border: solid 1px #b7b7b7;
    width: 50px;
    height: 25px;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      &:disabled {
        box-shadow: none;
      }
    }

    .mobile & {
      width: 25px;
      height: 25px;
    }
  }

  &:active {
    background: @primary-color-clicked;
  }

  &.clearfix:active {
    background: none;
  }

  &.fixed:active {
    box-shadow: 0 0 7px 3px rgba(201, 201, 201, 0.004);
  }

  &.ghost:active {
    background: rgba(255, 255, 255, .4);
  }

  &.page:active {
    background: #e8ebe8;
  }

  &:disabled,
  &.disabled {
    background: @disabled-color !important;
    cursor: default;
  }

  @media screen and (min-width: 767px) {
    &:hover {
      background: @primary-color-clicked;
    }

    &.fixed:hover {
      box-shadow: 0 0 7px 3px rgba(201, 201, 201, 0.004);
    }

    &.ghost:hover {
      background: rgba(255, 255, 255, .4);
    }

    &.page:hover {
      background: #e8ebe8;
    }
  }
}

// 默认图片宽度
img {
  width: 100%;
  max-height: 100%; // 如果出现图片高度被压缩就注释这行
}

// 默认禁止选中除输入类型以外的元素
*:not(input,select,form,textarea) {
  -webkit-user-select: none;
}

.orange {
  color: #fe393d;
}

.gray {
  color: #8b8b8b;
}
