:global {
  .lg-only.modal {
    font-size: .180000rem;
    width: 4.800000rem;
    background: #ffffff;
    height: 4.200000rem;
    border-radius: .030000rem;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    .content {
      width: 100%;
      height: 100%;
      display: block;
    }

    &.double {
      width: 9.900000rem;
      height: 4.800000rem;
      display: flex;
      padding: .400000rem;

      .content {
        width: 50%;
        height: 100%;
        &:first-of-type {
          margin-left: .300000rem;
          border-right: solid .020000rem #e4e4e4;

          & > * {
            width: 3.860000rem;

            &.toggle.buttons {
              height: .350000rem;

              button {
                width: 50%;
                height: .350000rem;
                font-size: .220000rem;
                display: inline-block;
                color: #959595;
                border-bottom: solid .020000rem #e4e4e4;
                background: transparent;
                box-shadow: none;
                padding: 0 0 .130000rem 0;
                line-height: 1em;
                cursor: pointer;

                &.current {
                  color: #fe393d;
                  border-bottom: solid .020000rem #fe393d;
                  transition: color .5s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
