:global {
  .dashboard {
    .card {
      background: #ffffff;
      border: solid 1px #d4d9d9;
      display: block;
      width: 100%;
      position: relative;

      &-title {
        width: 100%;
        display: block;
        background: #f9f9f9;
        padding: .15rem .2rem;
        line-height: 1;
        font-size: .18rem;
        border-bottom: solid 1px #d4d9d9;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-content {
        padding: .2rem;
      }

      &:global(.menu-title) {
        :global(.card-title) {
          padding-bottom: 0;
        }
        :global(.card-content) {
          padding: 0;
        }
      }
    }
  }
}