.sm-only.auth {
  .login.wrapper {
    .buttons {
      height: .3rem; // 60px
      margin: .355rem auto .225rem; //71px 45px
      position: relative;
      border: solid 1px #fe393d;
      overflow: hidden;
      border-radius: .025rem;
      display: flex;

      button {
        width: 50%;
        height: 100%;
        border-radius: 0;
        border: none;
        background: transparent;
        box-shadow: none;
        color: #fe393d;
        padding: 0;
        flex: 1;

        &.current {
          background: #fe393d;
          color: #ffffff;
          transition: color .5s ease;
        }
      }
    }

    button {
      display: block;
    }

    button.login {
      height: .4rem;
      font-size: .15rem;
      margin: .21rem auto 0;
    }

    button.register {
      margin: .46rem auto 0;
      height: .27rem;
      line-height: .27rem;
      font-size: .14rem;
      padding: 0 .15rem;
      width: auto;
      border-radius: .135rem;
    }

    .third-login {
      margin-top: .675rem
    }
  }
}