.register.wrapper {
  form {
    margin: .24rem auto 0 !important;

    .help {
      text-align: right;
      margin-top: .085rem;
      font-size: .11rem;
      line-height: .15rem;
      color: #ffffff;

      &.left {
        text-align: left;
      }
    }
  }

  button.register {
    height: .4rem;
    font-size: .15rem;
    margin: .21rem auto 0 !important;
    display: block;
  }

  .license {
    margin-top: .13rem !important;

    span {
      color: #fe393d;
      text-decoration: underline;
    }
  }

  .ad {
    margin-top: .48rem !important;
  }
}
