@import "./base";

.house.detail {
  main {
    width: 100%;
    padding-bottom: .375rem;
  }

  section {
    max-width: 100%;
    padding: .2rem .165rem 0;
    font-size: .15rem;
    color: #555555;

    .title {
      color: #555555;
      font-size: .165rem;
    }

    p {
      color: #959595;
      font-size: .15rem;
    }

    &.dividing {
      background: url("/assets/images/image_mobile_divided.png") bottom center no-repeat;
      background-size: calc(~"100% - .33rem");
    }

    &.borded {
      border-bottom: solid 1px #eeeeee;
    }

    &.landlord {
      padding-bottom: .2rem;
      text-align: center;
      background-color: @body-background;
      .title {
        padding: 0 .375rem;
        width: 100%;
        font-size: .225rem;
        line-height: 1.2;
      }

      p {
        line-height: .15rem;
        font-size: .135rem;
        margin: .09rem 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a.icon {
        width: .15rem;
        height: .15rem;
        display: inline-block;
        position: relative;
        vertical-align: bottom;

        &.like {
          margin-left: .09rem;
          margin-bottom: 2px;
        }
      }

      .avatar {
        width: .62rem;
        height: .62rem;
        border-radius: 50%;
        margin: .0925rem auto .1875rem;
        overflow: hidden;
      }
    }

    &.volume {
      background-color: @body-background;
      text-align: left;
      margin: 0;
      ul {
        li {
          padding-left: 1rem;
          display: flex;
          margin-bottom: .26rem;
          .icon {
            width: .225rem;
            height: .225rem;
            background-position: top center;
            display: inline-block;

            & + div {
              display: inline-block;
              margin-left: .195rem;
              flex: 1;
            }
          }

          .title {
            line-height: 1.4;
          }

          p {
            line-height: 1.5;
          }
        }
      }
    }

    &.description {
      padding-bottom: .2rem;
      .title {
        text-align: center;
      }
      p {
        padding: .15rem .06rem .1875rem;
      }

      img {
        height: 2.12rem;
      }
    }

    &.source {
      dl {
        padding: .135rem 0 .075rem;
        line-height: .3rem;

        dt, dd {
          width: 50%;
          display: inline-block;
        }

        dd {
          text-align: right;
        }
      }
    }

    &.devices {
      dl {

      }
    }

    dl a {
      color: #fe393d;
    }
  }
}
