.mobile {
  &.search {
    width: 100%;

    .filter.button {
      width: 338px;
      height: 36px;
      bottom: 45px;
      left: 0;
      right: 0;
      margin: auto;
      position: fixed;
      z-index: 999;
      font-size: 14px;
    }
  }
}